@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap");

:root {
  --background: #121212;
  --onbackground: #fff;
  --high: 0.87;
  --medium: 0.6;
  --disabled: 0.38;
  --elevation: 0.08;
  --hover: 0.12;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--onbackground);
}

.container {
  padding: 12px;
}

.overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--onbackground);
}

.overlay:hover {
  opacity: var(--hover);
}

.elev-off {
  opacity: 0;
}

.elev {
  opacity: var(--elevation);
}


/* ROOT */

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  max-width: fit-content;
  min-width: 150px;
  overflow: hidden;
  align-items: start;
  background-color: var(--background);
}

.handler {
  position: relative;
  width: 2px;
  background-color: #313131;
  transition: transform 0.2s;
}

.handler::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  width: 6px;
  visibility: none;
}

.cursor_resize_h {
  cursor: col-resize;
}

.handler:hover {
  transform: scaleX(2);
  cursor: col-resize;
}

.notes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background);
  flex: 1;
}

/* CARDS */

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 344px;
  padding: 16px;
  background-color: var(--background);
}

.disabled {
  pointer-events: none;
}

.card__text-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--onbackground);
  opacity: var(--high);
}

.card__title {
  font-weight: bold;
  font-size: 18px;
}

.card__desc {
  opacity: var(--medium);
  line-height: 1.4rem;
}

.card-icon {
  width: 80px;
  height: 80px;
}



/* CONTENTS */

.tree-view {
  display: flex;
  flex-direction: column;
}

.tree-node {
  position: relative;
  /*margin-left: calc(1rem + 8px);*/

}

.tree-node__overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--onbackground);
}

.tree-node__overlay:hover {
  opacity: var(--hover);
}

.tree-node__active-mark {
  position: relative;
  left: 0;
  top: 0;
  height: 2rem;
  width: 4px;
  border-radius: 2px;
  background-color: #1adcff;
  visibility: hidden;
}

.tree-node__link {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  padding: 6px 10px 6px 10px;
  border-radius: 6px;
}

.tree-node__icon {
  height: 1rem;
  width: 1rem;
}

.show {
  visibility: visible;
}

/* NOTES */