@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap");

:root {
  --color-background: #121212;
  --color-background-elevation-1: #1e1e1e;
  --color-background-hover: #272727;
  --color-onbackground: #fff;
  --text-elevation-high: 0.87;
  --text-elevation-medium: 0.6;
  --text-elevation-disabled: 0.38;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--color-onbackground);
}

.container {
  padding: 12px;
}

/* ROOT */

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  max-width: fit-content;
  min-width: 150px;
  overflow: hidden;
  align-items: start;
  background-color: var(--color-background);
}

.handler {
  position: relative;
  width: 2px;
  background-color: #313131;
  transition: transform 0.2s;
}

.handler::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  width: 6px;
  visibility: none;
}

.cursor_resize_h {
  cursor: col-resize;
}

.handler:hover {
  transform: scaleX(2);
  cursor: col-resize;
}

.notes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
  flex: 1;
}

/* CARDS */

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 344px;
  padding: 16px;
  background-color: var(--color-background-elevation-1);
}

.card:hover {
  background-color: var(--color-background-hover);
}

.card__text-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: var(--text-elevation-high);
}

.card__title {
  font-weight: bold;
  font-size: 18px;
}

.card__desc {
  opacity: var(--text-elevation-medium);
  line-height: 1.4rem;
}

.card__icon {
  width: 80px;
  height: 80px;
}

/* CONTENTS */

.tree-view {
  display: flex;
  flex-direction: column;
}

.tree-node__active-mark {
  position: absolute;
  height: 1rem;
  width: 4px;
  border-radius: 2px;
  background-color: #1adcff;
  visibility: hidden;
}

.tree-node__link {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  padding: 6px 12px 6px calc(var(--level) * (1rem + 8px));
}

.tree-node__link:hover {
  background-color: var(--color-background-hover);
}

.tree-node__icon {
  height: 1rem;
  width: 1rem;
}

/* NOTES */

/* COMMON */

.show {
  visibility: visible;
}

.mouse-disabled {
  pointer-events: none;
}
