@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap");

:root {
  --color-background: #121212;
  /* overlay 5% */
  --color-background-elevation-1: #1e1e1e;
  /* overlay 16% */
  --color-background-elevation-2: #383838;
  /* overlay 9% */
  --color-background-hover: #272727;

  --color-onbackground: #fff;
  --color-handler-active: #0078d4;
  --text-elevation-high: 0.87;
  --text-elevation-medium: 0.6;
  --text-elevation-disabled: 0.38;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--color-onbackground);
}

body {
  background-color: var(--color-background);
}

.container {
  padding: 12px;
}

/* ROOT */

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  max-width: fit-content;
  min-width: 150px;
  overflow: hidden;
  align-items: start;
  background-color: var(--color-background);
}

.handler {
  position: relative;
  width: 2px;
  background-color: #313131;
  transition: transform 0.2s;
}

.handler::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  width: 6px;
  visibility: none;
}

.handler:hover {
  transform: scaleX(2);
  cursor: col-resize;
  background-color: var(--color-handler-active);
}

.handler_resize {
  transform: scaleX(2);
  background-color: var(--color-handler-active);
}

.cursor_resize_h {
  cursor: col-resize;
}

.notes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background);
  flex: 1;
}

.home {
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* CARDS */

.cards-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  width: 400px;
  height: 450px;
  padding: 20px 4px 4px 4px;
  border-radius: 10px;
  background-color: var(--color-background-elevation-1);
  overflow: hidden;
}

.card:hover {
  background-color: var(--color-background-hover);
}

.card__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.card__title-icon {
  width: auto;
  height: 32px;
}

.card__title-text {
  font-size: 22px;
}

.card__title-text[data-color-id="React"] {
  color: #1adcff;
}

.card__title-text[data-color-id="JavaScript"] {
  color: #fdd83c;
}

.card__desc {
  opacity: var(--text-elevation-medium);
  line-height: 1.8rem;
  text-align: center;
  font-size: 17px;
  height: 70px;
  padding: 0px 10px;
}

.card__code {
  flex-grow: 1;
  width: 100%;
  border-radius: 8px;
  background-color: var(--color-background);
}

/* CONTENTS */

.tree-view {
  display: flex;
  flex-direction: column;
}

.tree-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
}

.tree-node__mark {
  height: 1.5rem;
  width: 4px;
  border-radius: 2px;
  background-color: #1adcff;
  visibility: hidden;
}

.tree-node__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  height: calc(1rem + 12px);
  flex-basis: 100%;
  padding-left: calc(var(--level) * (0.8rem + 8px));
  padding-right: 12px;
}

.tree-node__link:hover {
  background-color: var(--color-background-hover);
}

.tree-node__link_active {
  background-color: var(--color-background-elevation-1);
}

.tree-node__link_file {
  padding-left: calc(var(--level) * (0.8rem + 8px) + (0.65rem + 14px));
}

.tree-node__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(1rem + 12px);
  padding: 0px 4px;
}

.tree-node__icon-wrapper:hover {
  background-color: var(--color-background-elevation-2);
}

.rotate-90 {
  transform: rotate(90deg);
}

.tree-node__icon-file {
  height: 0.9rem;
  width: 0.9rem;
}

.tree-node__icon-arrow {
  height: 0.65rem;
  width: 0.65rem;
}

/* NOTES */

/* COMMON */

.show {
  visibility: visible;
}

.mouse-disabled {
  pointer-events: none;
}
